.poster {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;

  .poster-img {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }




  .poster-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-bottom: 55px;

    .wrapper {
      width: 60%;
      margin-bottom: 10px;
      padding-bottom: 230px;
    }

    .nav-list {
      list-style: none;
      display: flex;
      position: relative;
      justify-content: space-between;
      width: 45.5%;
      min-width: 500px;


      .nav-item {
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;

        .marker {
          width: 5px;
          display: none;
          position: absolute;
          transition: 0.5s;
          height: 20px;
          left: 0px;
          background-color: #fff;
        }

        .link-text {
          color: #707070;
          font-family: Merriweather;
          font-weight: 400;
          line-height: 20px;
          text-decoration: none;
          transition: 0.4s;
        }
      }
    }

    .nav-item:hover {
      .marker {
        display: flex;

      }

      .link-text {
        color: #fff;
      }
    }

  }
}

.mobile-menu {
  display: none;
  padding: 9px;
  width: 100%;
  background-color: #EDE6D7;
  position: fixed;
  bottom: 0;
  z-index: 1000;



  .button {
    padding: 0px;
    border-radius: 0;
    width: 50%;
    background-color: #EDE6D7;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #030303;

    .button-description {
      color: #050505;
      font-size: 14px;
      letter-spacing: 2px;

      font-family: Work Sans;
      text-transform: uppercase;
    }




    .shop-icon {
      height: 21.5px;
      margin-right: 15px;
      width: 22.2px;
      font-size: 16px;
      color: #fff;
      margin: 10px;
      margin-left: 17px;
    }

    .menu-icon {
      height: 22.5px;
      width: 24px;
      margin: 10px;
      margin-left: 15px;
      margin-right: 10px;
    }




  }

  .shop-button {
    position: relative;
    left: -10px;
  }

  .menu-button {
    border-right: 1px solid #fff;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .mobile-menu {
    display: flex;
    max-height: 55px;

    .shop-button {
      .shop-icon {
        fill: #030303;
      }
    }

  }

  .poster {
    .poster-content {
      .wrapper {
        max-width: 80%;
        width: auto;
      }
    }

    .header {
      justify-content: center;

      .menu-button {
        display: none;
      }

      .header-right {
        display: none;
      }

      .logo-button {
        padding-top: 28px;
        padding-left: 13px;
        padding-right: 13px;
        padding-bottom: 11px;

        .logo-icon {
          height: 18.8px;
          width: 124.9px;
        }
      }
    }

    .poster-content {
      margin-bottom: 23px;

      .nav-list {
        display: none;
      }

      .wrapper {
        .sub-headline {
          display: none;
        }
      }
    }
  }
}